<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="20286BartoszZaremba.Zegarekbinarny" Publisher="CN=457CB55B-879D-4A3B-A7B5-3F74D881E533" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Zegarek binarny</DisplayName>
    <PublisherDisplayName>Bartosz Zaremba</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BinaryClock.App">
      <VisualElements DisplayName="Binarny zegar" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Binarny zegar" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="Binarny zegar" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFFFFF" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>